.sidebar_container {
  background: white;
  width: 300px;
  height: 100vh;
}

.company_logo_name {
  display: flex;
  align-items: center;
  gap: 15px;
  background: white;
  padding: 5px 5px;
  border-bottom: 2px solid lightgray;
}
.sidebar_image {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.company_name {
  font-size: 20px;
  font-weight: 600;
}
.button_container {
  margin: 20px 25px;
}
.sidebar_btn {
  display: flex;
  border: 0;
  gap: 15px;
  background: 0;
  margin-top: 15px;
  font-size: 19px;
  font-weight: 200;
  color: black;
  opacity: 0.9;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.sidebar_btn.key {
  background: blue;
  border-radius: 6px;
  color: white;
}
.admin_profile {
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: lightgray;
  padding: 22px 22px;
  border-radius: 6px;
}
.admin_image {
  width: 70px;
  height: 70px;

  border: 2px solid lightgray;
  border-radius: 50px;
}
.admin_advice {
  font-size: 25px;
  color: white;
  opacity: 0.6;
}
